body {
  margin: 0;
  background-color:rgb(229, 229, 225);
  min-width: 500px;
}

header {
  display: block;
  margin-top: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 25px;
  text-align: center;
  line-height: 8px;
  height: 160px;
  background-color:#7A86B6;
  min-width:max-content;
  border-radius:0px 0px 10px 10px;
}

header img {
  margin-bottom: -2px;
}

header h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: oblique;
  font-weight: 900;
  color: rgb(253, 253, 251);
}

header h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: medium;
  font-weight: 100;
  color: #dddbde;
}

div.main-part {
  display: grid;
  margin: 20px;
  border-style: dotted;
  border-color: #9894ba;
  grid-template-columns: 20% 60% auto;
  grid-template-areas:"image main-1 main-2"
}

div.side {
  display: grid;
  grid-area: image; 
  place-items: center;
  opacity: 0.8;
}

/* 如何不让子元素撑大父容器？ */

.left {
  grid-area:main-1;
  padding:20px 60px;
  margin:0;
  background-color: #9894ba;

}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  line-height: 23px;
  color: #dddbde;
  margin-top: 40px;
  text-align: justify;
}

.left h2 {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  color: #495C83;
  margin-bottom: -5px;
  margin-top: 10px;
  padding: 3px;
  background-color: #dddbde;
  width:min-content
  text-align: center;
  border-radius: 5px 5px 5px 5px;
}

.right {
  grid-area:main-2;
  padding:10px 40px;
  text-align: center;
  margin:0;
}

.right h2 {
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  color: #495C83;
}

  nav ul {
    list-style-type: none;
    line-height: 5px;
    padding: 2px;
  }

  nav ul li {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
    font-weight: 900;
  }

  h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
    font-weight: 100;
  }


